Odeum/OdeumEngine/.vs/*
Odeum/OdeumEngine/x64/Debug/*
Odeum/OdeumEngine/OdeumEngine/x64/Debug/*
Odeum/OdeumEngine/Odeum/x64/Debug/OdeumWin32.exe
Odeum/OdeumEngine/Odeum/x64/Debug/OdeumWin32.ilk
Odeum/OdeumEngine/Odeum/x64/Debug/OdeumWin32.pdb
Odeum/OdeumEngine/OdeumEngine/x64/Debug/OdeumEngine.pch
Odeum/OdeumEngine/OdeumEngine/SceneLoad.txt
Odeum/OdeumEngine/OdeumEngine/OdeumEngineLog.txt
*.obj