/Odeum/.vs/*
/Odeum/Odeum/x64/Debug/OdeumWin32.exe
/Odeum/Odeum/x64/Debug/OdeumWin32.ilk
/Odeum/Odeum/x64/Debug/OdeumWin32.pdb
/OdeumSummerUpdate/OdeumEngine/.vs/*
/OdeumSummerUpdate/OdeumEngine/Odeum/x64/Debug/OdeumWin32.exe
/OdeumSummerUpdate/OdeumEngine/Odeum/x64/Debug/OdeumWin32.ilk
/OdeumSummerUpdate/OdeumEngine/Odeum/x64/Debug/OdeumWin32.pdb
/OdeumSummerUpdate/OdeumEngine/OdeumEngine/x64/Debug/OdeumEngine.pch